.section-title {text-align: center;}
.portfolio-text {
    line-height: 1.5;
    color: #434455;}
.section-title {line-height: 1.11;}
.portfolio-title {line-height: 1.20;}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list li {
    width: calc((100% - 48px) / 3);
}
